---
layout: default
---

<div class="home">
  
  
 <div class="col col-12">
      <div class="col col-3">
          <div class="block glass"  style="background-image:url(assets/avatar.png)">      
          </div>
      </div>
      <div class="col col-9">
        <div class="block glass">
            <div class="block-body">
                <h2>Hi,我是wltk157</h2>
                <p class="grey-text">无论是走在前面还是走在后面都没有关系，我们都走在一个并不存在纵轴的水平面上，我们不断向前迈进并不是为了与谁竞争。价值在于不断超越自我。”
                  <br>我们都不一样:性别、年龄、知识、经验、外貌，没有完全一样的人。我们应该积极地看待自己与别人的差异。但是，我们“虽然不同但是平等”。

                </p>
            </div>
        </div>
      </div>  
  </div>
  <div class="col col-12">
    {% for port in site.data.portfolio %}
      <div class="col col-{{port.width}}">
        <div class="block" style="background-image:url(assets/{{port.img}})">
            <div class="block-body height-{{port.height}}">              
                <h2 class="align-bottom-right">
                  {{ port.title }}
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
  <div class="col col-9">
    {% for post in site.posts %}
      <div class="col col-{{post.width}}">
        <div class="block {{post.color}}">
            <div class="block-body height-{{post.height}}">
                <span class="post-meta white-text">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link white-text" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </div>
        </div>
      </div>
    {% endfor %}
    </div>
    <div class="col col-3">
        <div class="block glass">
            <div class="block-body">
                <h3 class="margin-bot">我的技能</h3>                
                {% for skill in site.data.skills %}
                <span class="post-meta white-text">{{skill.descr}}</span>
                <div class="progress margin-bot"><div class="progress-{{skill.xp}}"></div></div>                
                {% endfor %}
            </div>
        </div>
    </div>
</div>
